.topic{
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 30px;
    padding: 10px;
    padding-left: 30px;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 20px;
    color:white;
}

.TextArea {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(187, 191, 195);
    padding: 10px;
    margin-bottom: 30px;
}

.TextArea .image-area {
    flex: 2;
    margin-left: 10px;
    margin-bottom: 20px;
    overflow: hidden; /* Ensure image doesn't overflow container */
}

.TextArea .image-area img {
    flex: 1; /* Ensure image occupies 100% of its container's width */
    height: auto; /* Maintain aspect ratio */
}

