<div class="carousel">
    <app-carousel></app-carousel>
</div>

<div class="topic">
    <h2>Services</h2>
</div>

<div class="TextArea" id="TextArea01">
    <div class="text-area">
        <p>Lorem ipsum dolor sit amLorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.
            et, consectetur adipiscing elit. Nullam ut ipsum nisi. Donec auctor nisi a nisl ullamcorper, et ultrices nunc pulvinar. In hac habitasse platea dictumst.</p>
    </div>
    <div class="image-area">
        <img src="https://via.placeholder.com/800x400" alt="Image 1">
    </div>
</div>

<div class="topic">
    <h2>About Us</h2>
</div>

<div class="TextArea" id="TextArea02">
    <div class="text-area">
        <p>Lorem ipsum dolor sit amLorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ipsum nisi.
            et, consectetur adipiscing elit. Nullam ut ipsum nisi. Donec auctor nisi a nisl ullamcorper, et ultrices nunc pulvinar. In hac habitasse platea dictumst.</p>
    </div>
    <div class="image-area">
        <img src="https://via.placeholder.com/800x400" alt="Image 1">
    </div>
</div>